
<form class="example-form" [formGroup]="companyform" (ngSubmit)="SaveCompany()">
    <mat-card>
    <mat-card-content>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput placeholder="ID" formControlName="id" >
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gmail</mat-label>
        <input matInput  formControlName="gmail" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Personal number</mat-label>
        <input matInput  formControlName="personalNumber" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput  formControlName="name" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput  formControlName="lastName" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput  formControlName="dateOfBirth" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput  formControlName="category" >
      </mat-form-field>

  
  
    <section class="example-section">
        <mat-checkbox class="example-margin" formControlName="isactive">Is Activte</mat-checkbox>
    </section>
</mat-card-content>
    <mat-card-footer>
    <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary">Save</button> | <a (click)="onCancelBtnClick()" mat-raised-button color="accent">Close</a>
    </div>
</mat-card-footer>
</mat-card>
  </form>
