table{
    width: 1000px! important;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}
.buttons{
    display: flex;
    justify-content: space-between;
}