<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="item">

    <div (click)="infBtnClick()" class="card">
      <div class="pos1">
        <div class="abv abv1">Information Technology</div>
      </div>

    </div>
    <div (click)="inf2BtnClick()" class="card">
      <div class="pos2">
        <div class="abv abv2">Medicine</div>
      </div>

    </div>
    <div (click)="inf3BtnClick()" class="card">
      <div class="pos3">
        <div class="abv abv3">Architecture</div>
      </div>

    </div>
  </div>
</body>

</html>